<h2>Encuentra un registro</h2>
<p>Por favor ingrese el CURP:</p>

<form>
	<div class="input-group">
		<input class="form-control" text="text" placeholder="CURP" maxlength="18" ng-model="curp">
		<span class="input-group-btn">
        	<button class="btn btn-default" type="button" ng-click="find()">Buscar</button>
      </span>
	</div>

	<br>
	<br>
	<table class="table table-bordered" ng-if="register">
		<tr>
			<th>Nombre</th>
			<th>Edad</th>
			<th>Género</th>
			<th>Fecha de nacimiento</th>
			<!-- <th></th> -->
		</tr>
		<tr>
			<td>{{register.name}}</td>
			<td>{{register.age}}</td>
			<td>{{register.gender}}</td>
			<td>{{register.birthday | date : 'yyyy/MM/dd'}}</td>
			<!-- <th><a ui-sref="bulletin({curp: register.curp})" class="btn btn-link">Ver</a></th> -->
		</tr>
	</table>
	<div class="form-group" ng-if="register">
		<button class="btn btn-primary" ng-click="activateDevice()">Activar dispositivo</button>
	</div>

	<div ng-if="device">
		<ui-gmap-google-map center='map.center'
                    control='map.control'
                    zoom='map.zoom'
                    dragging='true'
                    refresh='map.refresh'
        >
 	        <ui-gmap-markers
	        	models = "officials.list"
	        	coords = "'coords'"
	        	icon = "'icon'"
	        	click = "assignOfficer"
	        	control = "officials.control"
	        > 
			</ui-gmap-markers>
			<ui-gmap-marker
				idKey = "missing.id"
				coords = "missing.coords"
				click = "missing.click"
				options = "{icon:'images/missed-marker.png'}"
			></ui-gmap-marker>
    <!-- other ui-gmap-directives here -->
		</ui-gmap-google-map>
	</div>
	<br>
	<div class="form-group" ng-if="register">
		<label>Fecha de los hechos</label>
		<input type="date" class="form-control" placeholder="fecha de los hechos" ng-model="factDate" />
	</div>
	<div class="form-group" ng-if="register">
		<input vs-google-autocomplete="options"
                 
                 ng-model="address.name"
                 vs-place="address.place" 
                 vs-place-id="address.components.placeId"
                 vs-street-number="address.components.streetNumber" 
                 vs-street="address.components.street"
                 vs-city="address.components.city"
                 vs-state="address.components.state"
                 vs-country-short="address.components.countryCode"
                 vs-country="address.components.country"
                 vs-post-code="address.components.postCode"
                 vs-district="address.components.district"
                 vs-latitude="address.components.location.lat"
                 vs-longitude="address.components.location.long"
                 
                 type="text" 
                 name="address"
                 id="address"
                 class="form-control" 
                 placeholder="Lugar de los hechos">
	</div>
	<div class="form-group" ng-if="register">
		<button class="btn btn-default" ng-click="activate()">Activar Alerta</button>
	</div>
	<div class="alert alert-success alert-dismissible" role="alert" ng-show="activated">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>Alerta Activada</strong>
	</div>
</form>